body {
	background: #8B0000;
}

.caixacentral {
	position: relative;
	width: 940px;
}

nav {
	position: relative;
	top: px;
	right: 0;
}

nav li {
	display: inline;
	margin: 0 0 0 15px;
}

nav a {
	text-transform: uppercase;
	color: #000000;
	font-weight: bold;
	font-size: 22px;
	text-decoration: none;
}

header {
	background: #00FFFF;
}